#include "resource.h"
#include "windows.h"
#include "commctrl.h"

IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit", IDM_FILE_EXIT
    MENUITEM "&Save", 0, GRAYED
  END
  
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Scene", IDM_EDIT_SCENE
  END
END


IDD_EDIT_SCENE DIALOG DISCARDABLE 0, 0, 250, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Scene"
FONT 8, "MS Sans Serif"
BEGIN
END
